@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif
}

.container {
	width: 1300px;
	margin: 0 auto;
}
.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
}

.error-msg {
    color: red;
    font-size: 12px;
    font-weight: 600;
}

@media(max-width: 768px) {
    .mybtn {
        width: 100%;
    }
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', serif;
}

/* navbar */
.navbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 60px;
 
}
.nav {
	width: 100%;
	height: 52px;
	box-shadow: 0 5px 20px 2px rgba(112, 157, 241, 0.932);
	position: fixed;
	top: 0;
	background: #6bf17d;
	z-index: 1;
}
.nav__container {
	width: 100%;
	display: flex;
	align-items: center;
	height: 70px;
	justify-content: space-between;
}
.nav img {
	width: 90px;
	margin-left: 40px;
	margin-bottom: 10px;
}
.nav-text{
	display: flex;
	height: 60px;
	align-items: center;
}
.nav-menu{
	width: 60%;
	list-style-type: none;
    margin-top: 10px;
	display: flex;
	text-align: right;
	height: 30px;
}
.nav-menu li a{
	text-decoration: none;
	color: rgb(36, 18, 19);
	padding: 0 20px;
	font-weight: 800;
}
.nav-menu li a:hover {
	color: #fc0606;
	background-color: #ffffff;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.cart-icon {
	color: #fc0a0a;
	font-size: 25px;	
}
.basket {
	position: relative;
	margin-left: 50px;
    margin-right: 40px;
}
.basket:hover{
	transform: scale(1.1);
}
.basket span {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: -42px;
	top: -7px;
	width: 20px;
	height: 20px;
	background: #fcfcfa;
	border-radius: 50%;
	color: #1b056b;
	font-size: 12px;
}
.rightside {
    font-size: 20px;
    margin-left: 800px;
    font-weight: 600;
    width: 100%;
    display: flex;
    height: 30px;
    margin-bottom: 10px;
}


.rightside span {
    margin-right: 30px;
}


.logout-btn {
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: hidden;
    background-color: #2eca8b;
    margin-left: 10px;
}
/* products */

h1 {
    padding: 30px;
    border-bottom: 1px solid #e4e4e4;
}

@media(max-width: 768px) {
    h1 {
        text-align: center;
        padding: 10px;
    }
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.products-container .product-card {
    width: 300px;
    height: auto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    box-shadow: 5px 5px 4px #e4e4e4;
    position: relative;
}

.products-container .product-card .product-img {
    width: 100%;
    height: 200px;
}

.products-container .product-card .product-img img {
    width: 100%;
    height: 100%;
}

.products-container .product-card .product-name {
    display: block;
    width: 100%;
    color: #f57224;
    margin-top: 5px;
}

.products-container .product-card .product-price {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.products-container .product-card .addcart-btn {
    background-color: #f57224;
    color: #fff;
    border: hidden;
    cursor: pointer;
    width: 100%;
    padding: 10px 14px;
    margin-top: 5px;
    margin-bottom: 2px;
    outline: none;
}

/* cart */
.row {
	display: flex;
	width: 110%;
	flex-wrap: wrap;
}
.cart__incDec{
	display: flex;
}

.col-9 {
    margin-left: 120px;
    width: 10%;

}
.cart__heading {
	background: #d1d3d1;
	padding: 10px;
    
}
.cart-container{
    margin-top: 100px;
}
.cart-container .cart-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

@media(max-width: 768px) {
    .cart-container .cart-card {
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #e4e4e4;
    }
}

.cart-container .cart-card .cart-img {
    width: 150px;
    height: 120px;
}

@media(max-width: 768px) {
    .cart-container .cart-card .cart-img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }
}

.cart-container .cart-card .cart-img img {
    margin-top: 20px;
    width: 70%;
    height: 70%
}

.cart-container .cart-card .cart-name,
.cart-container .cart-card .cart-price {
    width: 150px;
    margin-left: 20px;
}

@media(max-width: 768px) {

    .cart-container .cart-card .cart-name,
    .cart-container .cart-card .cart-price {
        width: 90%;
        margin-left: 0px;
        text-align: center;
        margin-top: 4px;
    }
}
.dec
.quantity
.inc{
    width: 10%;
}
.cart-container .cart-card .cart-price-orignal {
    width: 150px;
    margin-left: 20px;
    color: #f57224;
}

@media(max-width: 768px) {

    .cart-container .cart-card .cart-price-orignal {
        width: 90%;
        margin-left: 0px;
        text-align: center;
        margin-top: 4px;
    }
}


.delete-btn {
    background-color: transparent;
    border: hidden;
    outline: none;
    cursor: pointer;
    color: red;
}

.inc,
.dec {
    cursor: pointer;
}

@media(max-width: 768px) {
    .delete-btn {
        margin-top: 4px;
    }

    .inc,
    .dec {
        margin-top: 4px;
    }
}

/* cart summary */
.cart-summary {
    display: flex;
    flex-direction: column;
    padding: 50px;
    color: #000000;
    border: 1px solid #e4e4e4;
    background-color: #dbddf8;
    width: 300px;
}

.cart-summary .cart-summary-heading {
    border-bottom: 1px solid #f57224;
}

.cart-summary .cart-summary-price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cashout-link {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

/* cashout */
.success-msg {
    background-color: green;
    color: #fff;
    padding: 7px;
    font-size: 12px;
    font-weight: 600;
}

.success-msg .home-link {
    color: #fff;
}


/* ---------------- Not Found -------------------*/
.not-found{
	margin-top: 150px;
	margin-left: 500px;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	font-size: 30px;
	align-items: center;
	justify-content: center;	
}
.btn-primary {
	margin-top: 30px;
	width: 30%;
	height: 40px;
	margin: 10px 0;
	padding: 0 5px;
	font-size: 15px;
	background-color: dodgerblue;
	color: floralwhite;
}
